<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News NLP</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/resets.css">
    <link rel="stylesheet" href="styles/from.css">
    
</head>
<body>
    <header>
        <h1>Welcome to Evaluate News NLP</h1>
    </header>
    <main>
        <h2>Submit Your News Article</h2>
        <form id="newsForm">
            <input type="text" id="articleURL" placeholder="Enter News Article URL" required>
            <button type="submit">Submit</button>
        </form>
        <div id="result"></div>
    </main>
    <footer>
        <p>&copy; 2024 Evaluate News NLP</p>
    </footer>
    
    <script src="js/bundle.0b6b1da79290323e2cf1.js"></script>
    <script src="http://localhost:8080/client/js/formHandler.js"></script>
    <script src="http://localhost:8080/client/js/nameChecker.js"></script>


    <script type="module">
        import { handleFormSubmit } from './client/js/formHandler.js'; 
        import { isValidName } from './client/js/nameChecker.js'; 

        
        document.getElementById("newsForm").addEventListener("submit", handleFormSubmit);
    </script>
</body>
</html>
